@model AccountDetailsViewModel

@{
    ViewData["Title"] = $"{Model.BasicInfo?.FirstName} {Model.BasicInfo?.LastName}";
}

<div class="container">
    <section id="account-details">
        @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
        {
            <div class="alert">
                @ViewData["ErrorMessage"]
            </div>
        }
       @*  <aside>
            <div class="profile-info">
                <img src="~/images/account/@Model.ProfileInfo?.ProfileImage" alt="@($"{Model.ProfileInfo?.FirstName} {Model.ProfileInfo?.LastName}")" />
                <h2>@($"{Model.ProfileInfo?.FirstName} {Model.ProfileInfo?.LastName}")</h2>
                <p>@Model.ProfileInfo?.Email</p>
            </div>

            <nav>
                <a class="btn-theme-s" asp-controller="Account" asp-action="Details"><i class="fa-regular fa-gear"></i>Account Details</a>
                <a class="btn-transparent" asp-controller="Auth" asp-action="Security"><i class="fa-regular fa-lock"></i>Security</a>
                <a class="btn-transparent" asp-controller="Courses" asp-action="SavedCourses"><i class="fa-regular fa-bookmark"></i>Saved Courses</a>
                <a class="btn-transparent" asp-controller="Auth" asp-action="SignOut"><i class="fa-solid fa-right-to-bracket"></i>Sign Out</a>
            </nav>
        </aside> *@
        <span>
            <partial name="~/Views/Account/_AccountProfile.cshtml"/>
        </span>

        <div class="details">
            <section class="basic-info">
                <form id="basicInfoForm" method="post" asp-controller="Account" asp-action="Details" novalidate>
                    <h1>Account Details</h1>
                    <h2>Basic Info</h2>
                    @* <p>@Model.BasicFormMessage</p> *@
                   @*  @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
                    {
                        <div class="alert-danger">
                            @ViewData["ErrorMessage"]
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(ViewData["SuccessMessage"]?.ToString()))
                    {
                        <span class="alert-success">
                            @ViewData["SuccessMessage"]
                        </span>
                    } *@

                    <div class="content">
                        <div id="form-firstname" class="input-group">
                            <label asp-for="BasicInfo.FirstName"></label>
                            <span asp-validation-for="BasicInfo.FirstName"></span>
                            <input asp-for="BasicInfo.FirstName" />
                        </div>

                        <div id="form-lastname" class="input-group">
                            <label asp-for="BasicInfo.LastName"></label>
                            <span asp-validation-for="BasicInfo.LastName"></span>
                            <input asp-for="BasicInfo.LastName" />
                        </div>

                        <div id="form-email" class="input-group">
                            <label asp-for="BasicInfo.Email"></label>
                            <span asp-validation-for="BasicInfo.Email"></span>
                            <input asp-for="BasicInfo.Email" />
                        </div>

                        <div id="form-phone" class="input-group">
                            <label asp-for="BasicInfo.Phone"></label>
                            <span asp-validation-for="BasicInfo.Phone"></span>
                            <input asp-for="BasicInfo.Phone" />
                        </div>

                        <div id="form-bio" class="input-group">
                            <label asp-for="BasicInfo.Biography">Bio <span>(optional)</span></label>
                            <span asp-validation-for="BasicInfo.Biography"></span>
                            <textarea asp-for="BasicInfo.Biography"></textarea>
                        </div>

                        <div class="form-buttons">
                            <button class="btn-gray" type="reset">Cancel</button>
                            <button class="btn-theme" type="submit">Save changes</button>
                        </div>
                    </div>

                </form>
            </section>

            <hr />

            <section class="address-info">
                <form id="addressInfoForm" method="post" asp-controller="Account" asp-action="Details" novalidate>

                    <h2>Address</h2>
                     <p>@Model.AddressFormMessage</p>

                    <div class="content">

                        <div id="form-addressline-1" class="input-group">
                            <label asp-for="AddressInfo.AddressLine_1"></label>
                            <span asp-validation-for="AddressInfo.AddressLine_1"></span>
                            <input asp-for="AddressInfo.AddressLine_1" />
                        </div>

                        <div id="form-addressline-2" class="input-group">
                            <label asp-for="AddressInfo.AddressLine_2">Address line 2 <span>(optional)</span></label>
                            <span asp-validation-for="AddressInfo.AddressLine_2"></span>
                            <input asp-for="AddressInfo.AddressLine_2" />
                        </div>

                        <div id="form-postalcode" class="input-group">
                            <label asp-for="AddressInfo.PostalCode"></label>
                            <span asp-validation-for="AddressInfo.PostalCode"></span>
                            <input asp-for="AddressInfo.PostalCode" />
                        </div>

                        <div id="form-city" class="input-group">
                            <label asp-for="AddressInfo.City"></label>
                            <span asp-validation-for="AddressInfo.City"></span>
                            <input asp-for="AddressInfo.City" />
                        </div>

                        <div class="form-buttons">
                            <button class="btn-gray" type="reset">Cancel</button>
                            <button class="btn-theme" type="submit">Save changes</button>
                        </div>

                    </div>

                </form>
            </section>
        </div>
    </section>
</div>

